.statistics {
  margin: 0 auto;
  width: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.title {
  text-transform: uppercase;
  padding: 15px;
  background-color: white;
  text-align: center;
}
.statList {
  display: flex;
}
.item {
  padding: 10px;
  text-align: center;
  width: 100%;
}
.label {
  font-size: 18px;
  font-weight: 500;
}
.percentage {
  padding: 5px;
  display: block;
}
