.transactionHistory {
  width: 600px;

  border-spacing: 1px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
th {
  padding: 15px;
}

.headTable {
  color: #ecf1f4;
  font-weight: bold;
  background: rgb(0, 188, 213);
  border: 1px solid rgb(0, 188, 213);
}

.listItem td {
  padding: 10px;
  border: 1px solid #e8e9eb;
}
.listItem:nth-child(2n) {
  background: #f4f4f4;
}
.listItem:hover {
  background: #ebffe8;
}
